body {
border: solid black;
 background-color: lightBlue;
padding: 0 0 20px 0;
}
.ha{
padding: 30px;
margin: 10px;
 border: solid black;
text-align: center;
border-radius: 0 0 300px 0;
 background: linear-gradient(45deg,orange,lightBlue,lightGreen);
}
.about{
font-style: italic;
background-color: lightGreen;
 color: brown;
}
.home{
color: black;
background-color: lightPink;
font-weight: bold;
}
.follow{
border: solid blue;
padding: 30px;
margin: 10px;
background: linear-gradient(45deg,orange,white,green);
color: black;
}
.ul{
color: red;
font-family: Grumpy;
}
